.treeui-caret {
    color:#555;
    font-size:10px;
    padding-right:5px;
}

.treeui-caret:hover {
    cursor:pointer;
}

.treeui-level {
    padding-left:15px;
    border-left:1px solid #555;
}

.gist-map-item {
    padding:5px 0;
    border-bottom:1px solid #eee;
}

.gist-map-title {
    font-weight:bold;
}

.gist-map-contents {
    font-family:monospace;
}

.gist-map-next {
    text-align:center;
    padding:5px;
    background:#eee;
    cursor:pointer;
}
