.marker-properties-limit {
    overflow:auto;
    max-height:150px;
    max-width:500px;
}

.marker-properties {
    border-collapse:collapse;
    font-size:11px;
    border:1px solid #ccc;
    margin:0;
}

.marker-properties td,
.marker-properties th {
    white-space:nowrap;
    border:1px solid #ccc;
}

.marker-properties.display td,
.marker-properties.display th {
    padding:5px 10px;
}

.marker-properties tr:last-child td,
.marker-properties tr:last-child th {
    border-bottom:none;
}

.marker-properties tr:nth-child(even) th,
.marker-properties tr:nth-child(even) td {
    background-color:#f7f7f7;
}
