/* Elements */
table tr td input,
table tr th input {
    border:none;
}

table thead {
    background:#f7f7f7;
    border:1px solid #ccc;
}

table td {
    border:1px solid #ccc;
}

table thead tr th {
    font-weight:bold;
}

table thead tr th,
table tr th input,
table tbody tr td input {
    text-align:left;
    font:inherit;
    padding:5px;
    width:150px;
    box-sizing:border-box;
    margin:0;
}

input[type=text] {
    font:inherit;
}

/* Utility classes */

.pad1 {
    padding:10px;
}

.pad {
    padding:20px;
}

.center {
    text-align:center;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:40%;
}

.right {
    overflow-x:hidden;
    position:absolute;
    bottom:0;
    top:0;
    right:0;
    width:40%;
    min-width:400px;
    box-sizing:border-box;
    font-size:14px;
    background:#f1f1f1;
    transition:all 200ms;
    -webkit-transition:all 200ms;
}

#map.fullsize {
    right:0;
}

.right.hidden {
    height:40px;
    bottom:auto;
}

p.intro {
    margin:10px;
    padding:0;
    font-size:small;
}

p.intro-hint {
    max-width:250px;
    margin:10px auto;
    opacity:0.5;
    font-size:small;
    border:1px solid #e0e0e0;
    border-radius:1px;
}

p.intro-hint:hover {
    opacity:1;
}

.right .CodeMirror {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    top:0;
    height:auto !important;
    background:#f1f1f1;
    font-family: 'Droid Sans Mono', sans-serif;
    line-height:1.5em;
}

.right .pane {
    position:absolute;
    top:40px;
    bottom:0;
    width:100%;
}

.top {
    background:#f7f7f7;
}

.top .buttons {
    margin-left:28px;
    height:40px;
    border-left:1px solid #ddd;
}


.top button.icon-github.logged-in {
    color:red;
}

.top button.icon-github:after {
    font-size:11px;
    margin-left:5px;
    content:attr(title);
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Open Sans', sans-serif;
    cursor:pointer;
    background:#f7f7f7;
    font:inherit;
    margin:0;
    border:0;
    padding:5px 10px;
    box-sizing:border-box;
    border:1px solid #f0f0f0;
    transition:all 200ms ease-in-out;
    -webkit-transition:all 200ms ease-in-out;
    border-bottom:2px solid #f0f0f0;
}

button span {
    font-family: 'Open Sans', sans-serif;
}

button:hover {
    border-bottom:2px solid red;
}

button.major {
    font-size: large;
    border: 1px solid #aaa;
    border-bottom: 2px solid #aaa;
    padding: 10px;
}

button.major:hover {
    border-bottom:2px solid red;
}

button.semimajor {
    font-size: 15px;
    border: 1px solid #aaa;
    border-bottom: 2px solid #aaa;
    padding: 10px;
}

button.semimajor:hover {
    border-bottom:2px solid red;
}

.top .collapse-button {
    position:absolute;
    background:#f7f7f7;
    top:0;
    left:0;
    width:28px;
    height:40px;
    line-height:40px;
    text-align:center;
}

.top .collapse-button:hover {
    background:#ddd;
}

.top .buttons button {
    background:#f7f7f7;
    color:#222;
    font-size:14px;
    padding:12px 15px;
    font-weight:normal;
    font-size:12px;
    height:40px;
    border:0;
    transition:all 200ms ease-in-out;
}

.top .buttons button span.icon {
    font-size:16px;
    margin-right:5px;
    vertical-align:middle;
}

.top .buttons button:hover,
.top .buttons button.active {
    background:#f1f1f1;
    color:#000;
    border-bottom:2px solid red;
}

.error-marker {
    width:10px;
    height:1.5em;
    background:#EAB;
    transition:all 100ms;
    -webkit-transition:all 100ms;
}

.error-marker:hover {
    background:#D68;
}

.error-marker:before {
    opacity:0;
    pointer-events:none;
    content:attr(message);
    transition:all 100ms;
    -webkit-transition:all 100ms;
    content:attr(message);
    width:300px;
    font-size:10px;
    padding:5px;
    border:1px solid #000;
    position:absolute;
    background:#fff;
    z-index:999;
}

.error-marker:hover:before {
    opacity:1;
    margin-left:35px;
}

.right .edit-pane .CodeMirror-linenumber {
    color:#666;
    font-size:75%;
}

.footlinks {
    padding:5px;
    margin-top:20px;
}

.footlinks a {
    color:#444;
    cursor:pointer;
    padding-right:20px;
}

.footlinks a:hover {
    color:#000;
}

.leaflet-container .leaflet-control-attribution {
    background:none;
    box-shadow:none;
}

.leaflet-popup-content {
    max-height: 200px;
    overflow: auto;
}

.leaflet-popup-content-wrapper table input {
    width:120px;
    background:transparent;
}

.leaflet-popup-content-wrapper button {
    padding:2px;
    width:50%;
}

.scrollable {
    overflow:auto;
}

.controls {
    padding-bottom:20px;
}

.controls button {
    border:1px solid #ccc;
}

.controls button:hover {
    background:#fff;
}

.fillL {
    background:#fff;
    margin:10px;
    border-radius:3px;
}

body.dragover {
    opacity:0.6;
}

.modal-message {
    display:none;
}

body.dragover .modal-message {
    position:fixed;
    left:50%;
    top:50%;
    text-align:center;
}

#layer-switch {
    position:absolute;
    bottom:10px;
    font-size:small;
    left:10px;
}

#layer-switch button {
    opacity:0.5;
}

#layer-switch button.active {
    opacity:1;
    background:#f7f7f7;
}

.fail {
    font-size:11px;
    padding:5px;
}

.blank-banner {
    text-align:center;
    font-size:20px;
    padding:80px 20px;
    color:#888;
}

textarea.full-width {
    width:80%;
    padding:5px;
    height:200px;
    border:1px solid #ccc;
    border-radius:2px;
    font:inherit;
}
