/*
 * colors
 * #f1f1f1
 */

#map {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:30%;
}

p {
    padding:10px 0;
    line-height:200%;
}

p.intro {
    margin:10px;
    padding:0;
    font-size:small;
}

#map.fullsize {
    right:0;
}

.right {
    overflow-x:hidden;
    position:absolute;
    bottom:0;
    top:0;
    right:0;
    width:30%;
    min-width:400px;
    box-sizing:border-box;
    font-size:14px;
    background:#f1f1f1;
    transition:all 200ms;
    -webkit-transition:all 200ms;
}

.right.hidden {
    height:40px;
    bottom:auto;
}

.wordmark {
    position:absolute;
    color:#888;
    top:0px;
    right:0px;
    padding-right:10px;
    font-weight:bold;
    font-size:10px;
    line-height:40px;
}

.link-ui {
    background:#363636;
    border-bottom:1px solid #272822;
    border-right:1px solid #272822;
    position:absolute;
    top:-100px;
    left:0px;
    width:240px;
    z-index:999;
    transition:all 200ms;
    -webkit-transition:all 200ms;
}

.link-ui #link-ui-close {
    color:#fff;
    float:right;
    cursor:pointer;
}

.link-ui.active {
    top:42px;
}

.pad1 {
    padding:10px;
}

.link-ui small {
    font-size:10px;
    color:#aaa;
}

.link-ui a {
    font-size:11px;
}

.right .CodeMirror {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    top:0;
    height:auto !important;
    background:#f1f1f1;
    font-family: 'Droid Sans Mono', sans-serif;
    line-height:1.5em;
}

.right .pane {
    position:absolute;
    top:40px;
    bottom:0;
    width:100%;
}

/* PROPERTIES -------------------------------------- */
.mini-map {
    height:150px;
}

.property-table table {
    border-collapse: collapse;
    border-spacing:0;
    border: none;
    width:100%;
    margin-top: 5px;
}

.property-table table input {
    font:inherit;
    width:100%;
    font-family: 'Droid Sans Mono', sans-serif;
    box-sizing:border-box;
    background:#000000;
    border:0;
    border-bottom:1px solid #363636;
    color:#eee;
    margin: 0px 5px 0px 0px;
}

.property-table .remove {
    margin: 0px 5px 5px 0px;
}

.property-table .separator {
    color: #eee;
    padding-right: 3px;
}

.property-table tr {
    padding: 0;
}

.property-table td {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.sub-pane button {
    background:#363636;
    color:#eee;
    font:inherit;
    border:0;
    transition:all 200ms ease-in-out;
}

.sub-pane button:hover {
    color:#fff;
    background:#333;
}

.sub-pane button.addrow {
    width:100%;
    margin: 0;
}

#buttons {
    background:#363636;
}

.top {
    background:#f7f7f7;
}

.top .buttons {
    margin-left:28px;
    height:40px;
    border-left:1px solid #ddd;
}

button {
    cursor:pointer;
    background:#f7f7f7;
    font:inherit;
    margin:0;
    border:0;
    padding:5px;
    box-sizing:border-box;
    border:1px solid #f0f0f0;
    transition:all 200ms ease-in-out;
    border-bottom:2px solid #f0f0f0;
}

button:hover {
    border-bottom:2px solid red;
}

.top .collapse-button {
    position:absolute;
    background:#f7f7f7;
    top:0;
    left:0;
    width:28px;
    height:40px;
    line-height:40px;
    text-align:center;
    transition:all 200ms ease-in-out;
}

.top .collapse-button:hover {
    background:#ddd;
}

.top .buttons button {
    background:#f7f7f7;
    color:#222;
    font-size:14px;
    padding:12px 15px;
    font-weight:normal;
    font-size:12px;
    height:40px;
    border:0;
    transition:all 200ms ease-in-out;
}

.top .buttons button span.icon {
    font-size:16px;
    margin-right:5px;
    vertical-align:middle;
}

.top .buttons button:hover,
.top .buttons button.active,
.top .buttons button.zeroclipboard-is-hover {
    background:#f1f1f1;
    color:#000;
    border-bottom:2px solid red;
}

.top button.done {
    background:#15A;
}

#status {
    font-size:16px;
    color:#BDEEBD;
    position:absolute;
    top:52px;
    right:10px;
    transition:all 200ms;
    display:block;
    -webkit-transition:all 200ms;
}

#status:hover:before {
    content:attr(message);
    font-size:10px;
    color:#eee;
}

#status.icon-circle-blank {
    color:#EDBBD5;
}

label.horizontal {
    display:block;
    padding:10px 0;
}

input.horizontal {
    width:100%;
    font:inherit;
}

.error-marker {
    width:10px;
    height:1.5em;
    background:#EAB;
    transition:all 100ms;
    -webkit-transition:all 100ms;
}

.error-marker:hover {
    background:#D68;
}

.error-marker:before {
    opacity:0;
    pointer-events:none;
    content:attr(message);
    transition:all 100ms;
    -webkit-transition:all 100ms;
    content:attr(message);
    width:300px;
    font-size:10px;
    padding:5px;
    border:1px solid #000;
    position:absolute;
    background:#fff;
    z-index:999;
}

.error-marker:hover:before {
    opacity:1;
    margin-left:35px;
}

.right .edit-pane .CodeMirror-linenumber {
    color:#666;
    font-size:75%;
}

.pad {
    padding:20px;
}

.prose {
    color:#eee;
}

.prose h2 {
    font-family: 'Droid Sans Mono', sans-serif;
    font-size:30px;
    font-weight:normal;
    text-align:center;
}

@media screen and (max-width:800px) {
    span.label {
        display:none;
    }
}

.footlinks {
    padding:5px;
    margin-top:20px;
}

.footlinks a {
    cursor:pointer;
    margin-right:10px;
    padding:10px;
}

/*
 * Leaflet Overrides ----------------------------------------------------------
 */
.leaflet-container .leaflet-control-attribution {
    background:none;
    box-shadow:none;
}

.inspector {
    position:absolute;
    bottom:0;
    right:0;
    height:200px;
    width:100%;
}

#brushes {
    position:absolute;
    left:10px;
    bottom:10px;
}

.swatch-bin {
    display:inline-block;
    padding:5px;
    background:#fff;
}

.swatch {
    width:20px;
    height:20px;
    border-radius:10px;
    box-sizing:border-box;
    display:inline-block;
    border:3px solid #f1f1f1;
    transition:all 200ms;
    -webkit-transition:all 200ms;
}

.brush-tools {
    background:rgba(255, 255, 255, 0.3);
    display:inline-block;
}

.brush-tools {
    margin-right:10px;
    vertical-align:bottom;
}

.brush.active {
    color:#fff;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1000ms;
}

@-webkit-keyframes blinker {
    from { background:#000; }
    to { background:#888; }
}

.brush-label {
    font-size:10px;
    padding:5px;
}

.swatch-stroke {
    width:20px;
    height:20px;
    box-sizing:border-box;
    display:inline-block;
    transition:all 200ms;
    opacity:0.5;
    -webkit-transition:all 200ms;
    border-radius:10px;
}

.swatch.swatch-stroke-color:hover,
.swatch.swatch-stroke-color.active {
    border-width:8px;
}

.swatch:hover,
.swatch.active,
.swatch-stroke:active,
.swatch-stroke.active {
    border-width:0;
    opacity:1;
}

button.brush {
    background:transparent;
    font-size:30px;
    background:#fff;
    vertical-align:bottom;
}

.table-wrap {
    overflow:auto;
    padding:10px;
}

table thead {
    background:#f7f7f7;
}

table {
}

table td {
    border:1px solid #ccc;
}

table thead tr th {
    font-weight:bold;
}

table thead tr th,
table tbody tr td input {
    text-align:left;
    font:inherit;
    padding:5px;
    width:150px;
    box-sizing:border-box;
    margin:0;
}

table tbody tr td input {
    border:none;
}

div.import {
    background:#fff;
    padding:40px 20px;
    margin:10px;
    border-radius:3px;
}

div.import.dragover {
    border:1px solid red;
}

div.import .message {
    text-align:center;
}
