{
    "rules": {
        "no-console": [0],
        "quotes": [
            0
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            0
        ],
        "no-unused-vars": [0]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended"
}
